<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register </title>
    <style>
        body
        {
            text-align: center;
        }
        .div,a
        {
            text-align: center;
            margin-top: 20%;
        }
    </style>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
     crossorigin="anonymous">
</head>

<body>
{% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="document">
        <p>{{message}}</p>
    </div>
    {% endfor %}
        {% if context == 'register' %}
        <div class=".div">
      <a href="{% url 'registration' data='student' %}"><button class="btn btn-primary">student register</button></a>
      <a href="{% url 'registration' data='teacher' %}"><button class="btn btn-primary">teacher register</button></a>
    </div>
        {% endif %}


        {% if context == 'signin' %}
        <div class=".div">
               <a href="{% url 'signin2' data='student' %}"><button class="btn btn-primary">student signin</button></a>
      <a href="{% url 'signin2' data='teacher' %}"><button class="btn btn-primary">teacher signin</button></a>
    </div>
        {% endif %}
</body>
</html>